.navbar {
	background: transparent;
	/* background: rgb(14, 212, 136);
	background: radial-gradient(circle, rgba(14, 212, 136, 1) 54%, rgba(98, 185, 196, 1) 100%); */
}

.navbar-brand {
	padding: 8px;
}

.navbar-brand img {
	fill: red !important;
	width: 10rem;
}

.navbar a {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.navbar a:hover {
	color: #11e996;
}
