.navbar {
	background: #642fd6;
}

.navbar-brand {
	padding: 8px;
}

.navbar-brand img {
	fill: red !important;
	width: 10rem;
}

.navbar .nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.navbar .nav-link:hover {
	color: #11e996;
}

.fa-bars {
	color: white;
}
